body{
    text-align: center;
    background-color: #2A2A2AFF;
    color: #FFFFFFFF;
}

img{
    text-align: right;
    width: 5%;
    height: 5%;
}


.link{
    color: #FFFFFFFF;
    text-decoration: none;
}

.link:hover{
    color: #EF00EFFF;
    
}
